@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap');
@import 'tailwindcss';

:root {
  --font-english: 'Fredoka';
  --font-chinese: 'Chiron GoRound TC', 'Noto Sans TC';
}

body {
  font-family: var(--font-english), var(--font-chinese), sans-serif;
}
